body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #000000;
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-gap: 12px;
  justify-content: center;
  margin-bottom: 10px;
}

.tile {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: #9c9fa1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile.correct {
  color: #ffffff;
  background-color: #6aaa64;
  border-color: #6aaa64;
}

.tile.present {
  color: #ffffff;
  background-color: #c9b458;
  border-color: #c9b458;
}

.tile.absent {
  color: #ffffff;
  background-color: #787c7e;
  border-color: #787c7e;
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
